.notification-count {
    margin-bottom: 4px;
}

.notification-list {
    list-style: none;
    padding: 0px;
}

.notification-item {
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 2px;
}

.hostname-block {
    color: black;
}