<h4>Notifications</h4>
<div class="notification-count">
  <span class="badge  clickable" (click)="ShowHideNotifications(healthLevel.OK)"
    [ngClass]="{'badge-ok': showOk, 'badge-ok-light': !showOk}">
    {{ GetNotificationCount(notifications, healthLevel.OK) }}
  </span>
  <span class="badge clickable" (click)="ShowHideNotifications(healthLevel.WARNING)"
  [ngClass]="{'badge-warning': showWarnings, 'badge-warning-light': !showWarnings}">
    {{ GetNotificationCount(notifications, healthLevel.WARNING) }}
  </span>
  <span class="badge badge-critical clickable" (click)="ShowHideNotifications(healthLevel.CRITICAL)"
  [ngClass]="{'badge-critical': showCriticals, 'badge-critical-light': !showCriticals}">
    {{ GetNotificationCount(notifications, healthLevel.CRITICAL) }}
  </span>
</div>
<ul class="notification-list">
  <ng-container *ngFor="let notification of notifications | minNotificationLevel:healthLevel.OK | notificationSort" >
    <li class="notification-item" *ngIf="IsVisible(notification.health)"
      [ngClass]="{
        'block-ok': (notification.health == healthLevel.OK), 
        'block-warning': (notification.health == healthLevel.WARNING), 
        'block-critical': (notification.health == healthLevel.CRITICAL)}">
        <span class="hostname-block badge" [ngClass]="{
          'badge-ok': (notification.health == healthLevel.OK), 
          'badge-warning': (notification.health == healthLevel.WARNING), 
          'badge-critical': (notification.health == healthLevel.CRITICAL)}" >
          {{ notification.hostname }}
        </span>
        <span>{{ notification.message }}</span>
    </li>
  </ng-container>
</ul>