.status-block {
    display: block;
    float: left;
    margin: 1em;
    border-radius: 4px;
    padding: 0.5em;
    width: 200px;
    min-height: 100px;
    background: gray;
}

.status-hostname {
    text-align: center;
    font-weight: bold;
}

.block-ok {
    background-color: #beffde;
}

.block-warning {
    background-color: #fcffaf;
}

.block-critical {
    background-color: #ffb1b1;
}

.clickable {
    cursor: pointer;
}