<div *ngIf="hostStatuses.length > 0" class="status-list-block">
  <div class=loader-container>
    <span class="loader" [ngClass]="{'loader-running': IsReloading(), 'loader-stopped': !IsReloading()}"></span>
    <span *ngIf="IsReloading();else reloaded">Reloading...</span>
    <ng-template #reloaded>Up to date</ng-template>
  </div>
  <div
    *ngFor="let hostStatus of hostStatuses"
    class="status-block clickable" 
    [ngClass]="{
      'block-ok': (hostStatus.health == healthLevel.OK), 
      'block-warning': (hostStatus.health == healthLevel.WARNING), 
      'block-critical': (hostStatus.health == healthLevel.CRITICAL)}"
    routerLink="/details/{{hostStatus.hostname}}"> 
    <span class="status-hostname">{{ hostStatus.hostname }}</span><br>
    <span class="badge badge-ok">{{ GetNotificationCount(hostStatus, healthLevel.OK) }}</span>
    <span class="badge badge-warning">{{ GetNotificationCount(hostStatus, healthLevel.WARNING) }}</span>
    <span class="badge badge-critical">{{ GetNotificationCount(hostStatus, healthLevel.CRITICAL) }}</span>
  </div>
</div>
