<div class="dashboard-block">
  <h3>Dasbhoard</h3>
  <div class="status-list-block">
    <app-status-list></app-status-list>
  </div>
  <div class="notification-list-block">
    <app-notification-list></app-notification-list>
  </div>
</div>