.dashboard-block {
    padding: 0.5em;
    background-color: rgba(245, 245, 245, 0.945);
    width: 100%;
    display: inline-block;
}

.status-list-block {
    width: 70%;
    float: left;
    display: block;
}

.notification-list-block {
    width: 30%;
    float: left;
    display: block;
}