/* You can add global styles to this file, and also import other style files */

.loader-container {
    background-color: rgba(225, 225, 225, 0.945);
    border-radius: 10%;
    padding: 5px;
    clear: both;
    display: table;
    width: 150px;
    text-align: center;
}

.loader {
    border-color: #f3f3f3;
    border-width: 6px;
    border-style: solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
}

.loader-running {
    border-top: 6px solid #3498db;
    animation: spin 1s linear infinite;
}

.loader-stopped {
    border-color: lightgreen;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.clickable {
    cursor: pointer;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    margin-right: 3px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: black;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

.badge-ok {
    background-color: #00ff7f;
}

.badge-ok-light {
    background-color: #00ff8023;
}

.badge-warning {
    background-color: #ffff00
}

.badge-warning-light {
    background-color: #ffff0023
}

.badge-critical {
    background-color: #ff4500;
}

.badge-critical-light {
    background-color: #ff450023;
}

.block-ok {
    background-color: #beffde;
}

.block-warning {
    background-color: #fcffaf;
}

.block-critical {
    background-color: #ffb1b1;
}