.details-block {
    padding: 0.5em;
    background-color: rgba(245, 245, 245, 0.945);
    width: 100%;
    display: inline-block;
}

.details-items-block {
    background:  rgba(235, 235, 235, 0.945);
    display: block;
    float: left;
    width: 48%;
    min-width: 200px;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 10px;
    padding: 5px;
}

.details-item-block {
    background:  rgba(225, 225, 225, 0.945);
    display: table;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    margin-bottom: 5px;
}

.item-name {
    text-align: center;
    font-weight: bold;
}

.item-details {
    font-weight: bold;
}

.item-message {
    background:  rgba(245, 245, 245, 0.945);
    border-radius: 5px;
    padding: 4px;
}

.up-time-block {
    float: none
}

.time-part {
    background:  rgba(235, 235, 235, 0.945);
    display: block;
    float: left;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 5px;
    min-width: 80px;
}

.time-number-part {
    font-weight: bold;
    font-size: x-large;
}

.details-item-ok {
    background-color: #beffde;
}

.details-item-warning {
    background-color: #fcffaf;
}

.details-item-critical {
    background-color: #ffb1b1;
}

h4 {
    display: inline;
}

.notification-count {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 8px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    margin-right: 3px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: black;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

.badge-ok {
    background-color: springgreen;
}

.badge-warning {
    background-color: yellow
}

.badge-critical {
    background-color: orangered;
}

.return-link {
    color: cadetblue;
    text-decoration: underline;
    cursor: pointer;
}