<div class="details-block">
  <div class="return-link" routerLink="/dashboard">Return to dashboard</div>
  <div class="hostname-block">
    <h3>{{ hostStatus?.hostname }}</h3>
  </div>

  <div class="details-items-block up-time-block">
    <h4>Server UpTime</h4>
    <div class="details-item-block up-time">
      <span class="time-part"><span class="time-number-part">{{ hostStatus?.serverUpTime?.days }}</span> day/s</span>
      <span class="time-part"><span class="time-number-part">{{ hostStatus?.serverUpTime?.hours }}</span> hour/s</span>
      <span class="time-part"><span class="time-number-part">{{ hostStatus?.serverUpTime?.minutes }}</span> minute/s</span>
      <span class="time-part"><span class="time-number-part">{{ hostStatus?.serverUpTime?.seconds }}</span> second/s</span>
    </div>
  </div>

    <div class="details-items-block drives-block">
      <h4>Drives</h4>
      <div class="notification-count">
        <span class="badge badge-ok">{{ GetNotificationCount(hostStatus?.drives, healthLevel.OK) }}</span>
        <span class="badge badge-warning">{{ GetNotificationCount(hostStatus?.drives, healthLevel.WARNING) }}</span>
        <span class="badge badge-critical">{{ GetNotificationCount(hostStatus?.drives, healthLevel.CRITICAL) }}</span>
      </div>
      <div *ngIf="hostStatus?.drives.length === 0">
        No drives watched
      </div>
      <div class="drives-list" *ngIf="hostStatus?.drives.length">
        <div
          class="details-item-block"
          *ngFor="let item of hostStatus?.drives"
          [ngClass]="{
            'details-item-ok': (item.health == healthLevel.OK),
            'details-item-warning': (item.health == healthLevel.WARNING),
            'details-item-critical': (item.health == healthLevel.CRITICAL)
          }">
          <h5 class="item-name">Partition {{ item.letter }}</h5>
          <span>
            Size of partition: <span class="item-details">{{ numberFormatter.FormatNumber(item.sizeKB / 1024) }}</span> MB.
            Free space: <span class="item-details">{{ numberFormatter.FormatNumber(item.freeSpaceKB / 1024) }}</span> MB
          </span><br>
          <div class="item-message"><strong>Summary: </strong>{{ item.message }}</div>
        </div>
      </div>
    </div>

    <div class="details-items-block services-block">
      <h4>Services</h4>
      <div class="notification-count">
        <span class="badge badge-ok">{{ GetNotificationCount(hostStatus?.services, healthLevel.OK) }}</span>
        <span class="badge badge-warning">{{ GetNotificationCount(hostStatus?.services, healthLevel.WARNING) }}</span>
        <span class="badge badge-critical">{{ GetNotificationCount(hostStatus?.services, healthLevel.CRITICAL) }}</span>
      </div>
      <div *ngIf="hostStatus?.services.length === 0">
        No services watched
      </div>
      <div class="services-list" *ngIf="hostStatus?.services.length">
        <div
          class="details-item-block"
          *ngFor="let item of hostStatus?.services"
          [ngClass]="{
            'details-item-ok': (item.health == healthLevel.OK),
            'details-item-warning': (item.health == healthLevel.WARNING),
            'details-item-critical': (item.health == healthLevel.CRITICAL)
          }">
          <h5 class="item-name">{{ item.name }}</h5>
          <span>
            Running under account: <span class="item-details">{{ item.username }}</span>.
            Status: <span class="item-details">{{ item.status }}</span>.
            State: <span class="item-details">{{ item.state }}</span>
          </span><br>
          <div class="item-message"><strong>Summary: </strong>{{ item.message }}</div>
        </div>
      </div>
    </div>

    <div class="details-items-block customs-block">
      <h4>Customs</h4>
      <div class="notification-count">
        <span class="badge badge-ok">{{ GetNotificationCount(hostStatus?.customs, healthLevel.OK) }}</span>
        <span class="badge badge-warning">{{ GetNotificationCount(hostStatus?.customs, healthLevel.WARNING) }}</span>
        <span class="badge badge-critical">{{ GetNotificationCount(hostStatus?.customs, healthLevel.CRITICAL) }}</span>
      </div>
      <div>
        No customs watched
      </div>
      <div class="customs-list" *ngIf="hostStatus?.customs.length">
        <div
          class="details-item-block"
          *ngFor="let item of hostStatus?.customs"
          [ngClass]="{
            'details-item-ok': (item.health == healthLevel.OK),
            'details-item-warning': (item.health == healthLevel.WARNING),
            'details-item-critical': (item.health == healthLevel.CRITICAL)
          }">
          <h5 class="item-name">{{ item.name }}</h5>
          <span>
            Status details: <span class="item-details">{{ item.status }}</span>.
            State: <span class="item-details">{{ item.state }}</span>
          </span><br>
          <div class="item-message"><strong>Summary: </strong>{{ item.message }}</div>
        </div>
      </div>
    </div>
</div>